html,body{
        height: 100%;
        margin: 0;
}
body{
    background-image:url(/Module-Data-Flows/fetch/programmer-humour/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5em;
    text-align: center;
}

#mainTitle{
    background-color: rgba(0, 0, 0, 0.312);
    border-radius: 25px;
    width: 50%;
    align-content: center;
    justify-self: center;
}

#container {
    background-color: rgba(0, 0, 0, 0.312);
    border-radius: 25px;
    width: 50%;
    align-content: center;
    justify-self: center;
}